<div class="container py-5">
  <div class="row">
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <img src="assets/images/about.png" alt="Judo Logo" class="img-fluid">
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-start border-top border-4 border-dark border-bottom border-2 border-dark pt-5">
      <h2 class="mb-5">About Us</h2>
      <ul>
        <li>Fleming Judo School is led by Eoin Fleming</li>
        <li>International Judo athlete with over 15 years of experience</li>
          <li>Current Irish National Senior Performance Coach</li>
          <li>4th Dan Black Belt</li>
          <li>Represented Northern Ireland at two Commonwealth Games</li>
          <li>Eoin has won 4 World Cup medals and over 20 All-Ireland titles during his career</li>
          <li>Over 10 years of coaching in primary schools</li>
          <li>We are passionate about delivering fun, safe, and engaging judo sessions that teach children more than just sport.</li>
          <li>Our sessions are fun, safe, and engaging — designed to teach more than just sport</li>
          <li>Through judo, kids learn respect, discipline, perseverance, and teamwork.</li>
      </ul>

    </div>
  </div>
</div>
