<div class="container py-5">
  <div class="row">
    <div class="col-md-6 d-flex flex-column justify-content-start border-top border-4 border-dark border-bottom border-2 border-dark pt-5">
      <h2 class="mb-5">Contact Us</h2>
      <p>For more information please contact:</p>
      <ul>
        <li><strong>Name:</strong> Eoin Fleming</li>
        <li><strong>Phone:</strong> +44 7517 232305</li>
        <li><strong>Email: </strong> <a href="mailto:flemingjudoschool@outlook.com">flemingjudoschool@outlook.com</a></li>
        <li><strong>Website: </strong> <a href="http://www.flemingjudoschool.co.uk">www.flemingjudoschool.co.uk</a></li>
      </ul>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <img src="assets/images/logo.jpg" alt="Judo Logo" class="img-fluid">
    </div>
</div>
</div>
