<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item mx-3">
          <a class="nav-link fs-4" routerLink="/">Home</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link fs-4" routerLink="/about">About</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link fs-4" routerLink="/why-judo">Why Judo</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link fs-4" routerLink="/offer">What We Offer</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link fs-4" routerLink="/signup">Sign Up</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link fs-4" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
