<div class="container py-5">
  <div class="row">
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <img src="assets/images/offer.png" alt="Judo Logo" class="img-fluid">
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-start border-top border-4 border-dark border-bottom border-2 border-dark pt-5">
      <h2 class="mb-5">What We Offer</h2>
      <p>We deliver high-quality after-school judo sessions in primary schools across Belfast. Each club includes:</p>
    <ul>
      <li>Weekly sessions during term time</li>
      <li>Professional instruction by a qualified national coach</li>
      <li>All judo mats provided</li>
      <li>Sessions adapted to age and ability</li>
      <li>Emphasis on safety, inclusivity, and fun</li>
    </ul>
    <p>Our goal is to provide a positive first experience of judo — laying the foundation for lifelong physical activity, confidence, and character.</p>
  </div>
</div>
</div>
