<div class="container py-5">
  <div class="row">
    <div class="col-md-6 d-flex align-items-start justify-content-center">
      <img src="assets/images/offer.png" alt="Judo Throw" class="img-fluid">
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-start border-top border-4 border-dark border-bottom border-2 border-dark pt-5">
      <h2 class="mb-5">Sign Up</h2>
      <p><strong>£70</strong> for each 10-week term block</p>
      <ul>
        <li>Friday - Our Lady Queen of Peace – P2/3: 2pm-3pm</li>
        <li>Friday - Our Lady Queen of Peace – P4-7: 3pm-4pm</li>
        <li>Wednesday - St. Joseph’s Carryduff – P2/3: 2pm-3pm</li>
        <li>Wednesday - St Joseph’s Carryduff – P4-7: 3pm-4pm</li>
      </ul>
      <p>Online signup form will be available soon.</p>
      <!--
      <form>
        <div class="mb-3"><label class="form-label">Child’s Name</label><input class="form-control"></div>
        <div class="mb-3"><label class="form-label">Class</label><input class="form-control"></div>
        <div class="mb-3"><label class="form-label">Medical/Additional Needs</label><textarea class="form-control"></textarea></div>
        <div class="mb-3"><label class="form-label">Emergency Contact Name</label><input class="form-control"></div>
        <div class="mb-3"><label class="form-label">Emergency Contact Number</label><input class="form-control"></div>
        <div class="mb-3"><label class="form-label">Email</label><input type="email" class="form-control"></div>
        <div class="mb-3">
          <label class="form-label">Photography Consent</label>
          <select class="form-select">
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
        <div class="mb-3"><label class="form-label">Other Relevant Info</label><textarea class="form-control"></textarea></div>
        <button type="submit" class="btn btn-primary">Submit</button>

      </form> -->
    </div>
  </div>
</div>


